footer {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 30px;
    background-color: transparent;
    position        : fixed;
    left            : 0;
    bottom          : 0;
    width           : 100vw;
    z-index         : 999;
    border-bottom   : 1px solid #00000010;
    font-size: 0.8em;
}

svg {
    color: red;
}